In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
application_df["STATUS"].value_counts()

1    34294
0        5
Name: STATUS, dtype: int64

In [4]:
application_df["SPECIAL_CONSIDERATIONS"].value_counts()

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

In [5]:
# Drop the non-beneficial ID columns, 'EIN' , 'SPECIAL_CONSIDERATIONS', 'STATUS'.
application_df = application_df.drop(["EIN","SPECIAL_CONSIDERATIONS", "STATUS"], 1)
application_df.head()

C:\Users\14043\AppData\Local\Temp/ipykernel_13536/3473724192.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  application_df = application_df.drop(["EIN","SPECIAL_CONSIDERATIONS", "STATUS"], 1)

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1

In [6]:
application_df.nunique()

NAME                19568
APPLICATION_TYPE       17
AFFILIATION             6
CLASSIFICATION         71
USE_CASE                5
ORGANIZATION            4
INCOME_AMT              9
ASK_AMT              8747
IS_SUCCESSFUL           2
dtype: int64

In [7]:
name_counts = application_df["NAME"].value_counts()
name_counts [name_counts>5]

PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
OLD OAK CLIFF CONSERVATION LEAGUE INC                 6
AMERICAN NEPHROLOGY NURSES ASSOCIATION                6
HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC             6
PROFESSIONAL LOADMASTER ASSOCIATION                   6
CBMC INC                                              6
Name: NAME, Length: 354, dtype: int64

In [8]:
names_to_replace = list(name_counts[name_counts <= 5].index)

# Replace in dataframe
for app in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: NAME, Length: 355, dtype: int64

In [9]:
application_counts = application_df["APPLICATION_TYPE"].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [10]:
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [11]:
class_counts = application_df["CLASSIFICATION"].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [12]:
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [14]:
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT']

In [15]:
application_with_dummies = pd.get_dummies(application_df)
application_with_dummies.head(3)

,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION,NAME_ALPHA PHI OMEGA,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [16]:
# Split our preprocessed data into our features and target arrays
x = application_with_dummies.drop (["IS_SUCCESSFUL"], axis="columns").values
y = application_with_dummies["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(x,y)

In [17]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [19]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_inputs = len(X_train[0])
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units = hidden_nodes_layer1, input_dim = number_inputs, activation = 'relu')
)

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units = hidden_nodes_layer2, activation = 'sigmoid')
)

# Third hidden layer
nn.add(
    tf.keras.layers.Dense(units = hidden_nodes_layer2, activation = 'sigmoid')
)

# Output layer
nn.add(
    tf.keras.layers.Dense(units = 1, activation = 'sigmoid')
)

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               39600

 dense_1 (Dense)             (None, 30)                3030

 dense_2 (Dense)             (None, 30)                930

 dense_3 (Dense)             (None, 1)                 31

=================================================================
Total params: 43,591
Trainable params: 43,591
Non-trainable params: 0
_________________________________________________________________

In [20]:
# Compile the model
nn.compile(loss= "binary_crossentropy", optimizer ="adam", metrics = ["accuracy"])

In [21]:
# Train the model
fit_model =nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.4832 - accuracy: 0.7719
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4377 - accuracy: 0.7934
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4317 - accuracy: 0.7937
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4286 - accuracy: 0.7971
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4268 - accuracy: 0.7969
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4248 - accuracy: 0.7972
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4243 - accuracy: 0.7973
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4228 - accuracy: 0.7994
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4224 - accuracy: 0.8001
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4206 - accuracy: 0.8003
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4204 - accuracy: 0.8004
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4190 - accuracy: 0.8007
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4192 - accuracy: 0.8009
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4179 - accuracy: 0.7999
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4178 - accuracy: 0.8012
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4167 - accuracy: 0.8011
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4170 - accuracy: 0.8018
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4163 - accuracy: 0.8022
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4159 - accuracy: 0.8017
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4150 - accuracy: 0.8022
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4141 - accuracy: 0.8034
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4143 - accuracy: 0.8017
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4131 - accuracy: 0.8022
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4129 - accuracy: 0.8038
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4127 - accuracy: 0.8038
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4120 - accuracy: 0.8048
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4115 - accuracy: 0.8035
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4119 - accuracy: 0.8041
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4107 - accuracy: 0.8043
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4102 - accuracy: 0.8049
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4100 - accuracy: 0.8050
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4101 - accuracy: 0.8047
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4098 - accuracy: 0.8047
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4092 - accuracy: 0.8054
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4090 - accuracy: 0.8047
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4089 - accuracy: 0.8066
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4085 - accuracy: 0.8053
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4082 - accuracy: 0.8052
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4078 - accuracy: 0.8059
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4076 - accuracy: 0.8063
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4073 - accuracy: 0.8058
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4075 - accuracy: 0.8056
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4066 - accuracy: 0.8068
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4068 - accuracy: 0.8067
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4065 - accuracy: 0.8063
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4060 - accuracy: 0.8060
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4060 - accuracy: 0.8070
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4060 - accuracy: 0.8069
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4057 - accuracy: 0.8079
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4057 - accuracy: 0.8070
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4057 - accuracy: 0.8069
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4052 - accuracy: 0.8070
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4051 - accuracy: 0.8076
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4050 - accuracy: 0.8073
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4050 - accuracy: 0.8070
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4048 - accuracy: 0.8069
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4043 - accuracy: 0.8077
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4046 - accuracy: 0.8071
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4044 - accuracy: 0.8077
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4046 - accuracy: 0.8076
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4043 - accuracy: 0.8072
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4038 - accuracy: 0.8079
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4036 - accuracy: 0.8079
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4040 - accuracy: 0.8077
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4037 - accuracy: 0.8090
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4033 - accuracy: 0.8073
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4029 - accuracy: 0.8081
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4029 - accuracy: 0.8071
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4034 - accuracy: 0.8083
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4030 - accuracy: 0.8088
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4030 - accuracy: 0.8078
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4028 - accuracy: 0.8079
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4025 - accuracy: 0.8082
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4027 - accuracy: 0.8086
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4027 - accuracy: 0.8071
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4028 - accuracy: 0.8079
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4025 - accuracy: 0.8081
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4020 - accuracy: 0.8084
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4021 - accuracy: 0.8082
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4018 - accuracy: 0.8087
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4015 - accuracy: 0.8077
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4015 - accuracy: 0.8077
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4018 - accuracy: 0.8086
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4017 - accuracy: 0.8087
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4015 - accuracy: 0.8089
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4013 - accuracy: 0.8078
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4014 - accuracy: 0.8082
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4017 - accuracy: 0.8095
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4013 - accuracy: 0.8093
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4012 - accuracy: 0.8086
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4011 - accuracy: 0.8085
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4012 - accuracy: 0.8094
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4014 - accuracy: 0.8094
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4012 - accuracy: 0.8089
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4011 - accuracy: 0.8086
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4013 - accuracy: 0.8084
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4014 - accuracy: 0.8084
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4008 - accuracy: 0.8086
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4013 - accuracy: 0.8097
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4008 - accuracy: 0.8087

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4542 - accuracy: 0.7901 - 569ms/epoch - 2ms/step
Loss: 0.454243540763855, Accuracy: 0.7900874614715576

In [23]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [27]:
rf_model = RandomForestClassifier(n_estimators = 128, random_state = 78)

rf_model = rf_model.fit(X_train_scaled, y_train)

y_pred = rf_model.predict(X_test_scaled)
print (f"Random forest model accuracy: {accuracy_score(y_test,y_pred)*100:.3f}")

Random forest model accuracy: 77.633